delete service snmp

{%- for prefix in data['cvars']['znsl_prefixes'] %}
set service snmp community public network {{ prefix }}
{%- endfor %}

set service snmp community public authorization ro
set service snmp contact {{ data['cvars']['primary_contact'] }}
set service snmp listen-address {{ data['cvars']['primary_ipv4'] }}
set service snmp listen-address {{ data['cvars']['primary_ipv6'] }}
set service snmp location {{ data['location'] }}

comment service snmp 'Node snmp is SALT MANAGED'

delete service lldp
{%- for interface in data['cvars']['lldp_interfaces'] %}
set service lldp interface {{ interface }}
{%- endfor %}

set service lldp snmp enable
set service lldp management-address {{ data['cvars']['primary_ipv4'] }}
set service lldp management-address {{ data['cvars']['primary_ipv6'] }}

comment service lldp 'Node lldp is SALT MANAGED'

delete service dhcp-server

{%- if data.get('dhcp_servers') %}
{%-     for server in data['dhcp_servers'] %}
{%-         set netname = 'dhcp-net-' + loop.index|string %}

set service dhcp-server shared-network {{ netname }} subnet {{ server['network'] }} default-router {{ server['router_ip'] }}
set service dhcp-server shared-network {{ netname }} subnet {{ server['network'] }} lease 3600

{%-         for nameserver in data['cvars']['dns_servers'] %}
set service dhcp-server shared-network {{ netname }} subnet {{ server['network'] }} name-server {{ nameserver }}
{%-         endfor %}

{%-         for range in server['ranges'] %}
set service dhcp-server shared-network {{ netname }} subnet {{ server['network'] }} range {{ loop.index - 1 }} start {{ range['start_address'] }}
set service dhcp-server shared-network {{ netname }} subnet {{ server['network'] }} range {{ loop.index - 1 }} stop {{ range['end_address'] }}
{%-         endfor %}

{%-     endfor %}

comment service dhcp-server 'Node dhcp-server is SALT MANAGED'
{%- endif %}

delete service ssh
set service ssh

comment service ssh 'Node ssh is SALT MANAGED'

delete system name-server
{%- for nameserver in data['cvars']['dns_servers'] %}
set system name-server {{ nameserver }}
{%- endfor %}

comment system name-server 'Node name-server is SALT MANAGED'

delete system host-name
set system host-name {{ data['node_name']|lower }}

comment system host-name 'Node host-name is SALT MANAGED'
