{%- set policy_data = data['out'] %}
{%- if grains.version.startswith('1.4') %}
{%-     set version = '1.4' %}
{%- else %}
{%-     set version = '1.3' %}
{%- endif %}

delete policy as-path-list
delete policy community-list
delete policy prefix-list
delete policy prefix-list6
delete policy route-map

{%- if ( policy_data['aspath_lists'] is defined ) %}
{%-     for aspath_list, aspath_list_data in policy_data['aspath_lists'].items() %}
{%-         if ( aspath_list_data['rules'] is defined ) %}
{%-             for rule in aspath_list_data['rules'] %}
{%-                 if ( rule['action'] is defined ) %}

set policy as-path-list {{ aspath_list }} rule {{ loop.index * 10 }} action {{ rule['action'] }}

{%-                 else %}

set policy as-path-list {{ aspath_list }} rule {{ loop.index * 10 }} action permit

{%-                 endif %}
{%-                 if ( rule['description'] is defined ) %}

set policy as-path-list {{ aspath_list }} rule {{ loop.index * 10 }} description "{{ rule['description'] }}"

{%-                 endif %}

set policy as-path-list {{ aspath_list }} rule {{ loop.index * 10 }} regex {{ rule['regex'] }}

{%-             endfor %}
{%-         endif %}
{%-     endfor %}
{%- endif %}

{%- if ( policy_data['community_lists'] is defined ) %}
{%-     for community_list, community_list_data in policy_data['community_lists'].items() %}
{%-         if ( community_list_data['rules'] is defined ) %}
{%-             for rule in community_list_data['rules'] %}
{%-                 if ( rule['action'] is defined ) %}

set policy community-list {{ community_list }} rule {{ loop.index * 10 }} action {{ rule['action'] }}

{%-                 else %}

set policy community-list {{ community_list }} rule {{ loop.index * 10 }} action permit

{%-                 endif %}
{%-                 if ( rule['description'] is defined ) %}

set policy community-list {{ community_list }} rule {{ loop.index * 10 }} description "{{ rule['description'] }}"

{%-                 endif %}

set policy community-list {{ community_list }} rule {{ loop.index * 10 }} regex {{ rule['regex'] }}

{%-             endfor %}
{%-         endif %}
{%-     endfor %}
{%- endif %}

{%- if ( policy_data['prefix_lists'] is defined ) %}
{%-     for family in policy_data['prefix_lists'] %}
{%-         for prefix_list, prefix_list_data in policy_data['prefix_lists'][family].items() %}
{%-             if ( prefix_list_data['rules'] is defined ) %}
{%-                 for rule in prefix_list_data['rules'] %}
{%-                     set suffix = '' %}
{%-                     if ( family == 'ipv6' ) %}
{%-                         set suffix = '6' %}
{%-                     endif %}
{%-                     if ( rule['le'] is defined ) %}

set policy prefix-list{{ suffix }} {{ prefix_list }} rule {{ loop.index * 5 }} le {{ rule['le'] }}

{%-                     endif %}
{%-                     if ( rule['ge'] is defined ) %}

set policy prefix-list{{ suffix }} {{ prefix_list }} rule {{ loop.index * 5 }} ge {{ rule['ge'] }}

{%-                     endif %}
{%-                     if ( rule['action'] is defined ) %}

set policy prefix-list{{ suffix }} {{ prefix_list }} rule {{ loop.index * 5 }} action {{ rule['action'] }}

{%-                     else %}

set policy prefix-list{{ suffix }} {{ prefix_list }} rule {{ loop.index * 5 }} action permit

{%-                     endif %}

set policy prefix-list{{ suffix }} {{ prefix_list }} rule {{ loop.index * 5 }} prefix {{ rule['prefix'] }}

{%-                 endfor %}
{%-             endif %}
{%-         endfor %}
{%-     endfor %}
{%- endif %}

{%- if ( policy_data['route_maps'] is defined ) %}
{%-     for family in policy_data['route_maps'] %}
{%-         set suffix = '' %}
{%-         set vyos_family = 'ip' %}
{%-         set global = '' %}
{%-         if ( family == 'ipv6' ) %}
{%-             set vyos_family = 'ipv6' %}
{%-             set global = 'global' %}
{%-         endif %}
{%-         for route_map, route_map_data in policy_data['route_maps'][family].items() %}
{%-             for rule in route_map_data['rules'] %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} action {{ rule['action'] }}

{%-                 if ( rule['continue'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} continue {{ rule['continue'] }}

{%-                 endif %}
{%-                 if ( rule['match'] is defined ) %}
{%-                     if ( rule['match']['community_list'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} match community community-list {{ rule['match']['community_list'] }}

{%-                     endif %}
{%-                     if ( rule['match']['as_path'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} match as-path {{ rule['match']['as_path'] }}

{%-                     endif %}
{%-                     if ( rule['match']['rpki'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} match rpki {{ rule['match']['rpki'] }}

{%-                     endif %}
{%-                     if ( rule['match']['prefix_list'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} match {{ vyos_family }} address prefix-list {{ rule['match']['prefix_list'] }}

{%-                     endif %}
{%-                 endif %}
{%-                 if ( rule['set'] is defined ) %}
{%-                     if ( rule['set']['local_pref'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set local-preference {{ rule['set']['local_pref'] }}

{%-                     endif %}
{%-                     if ( rule['set']['origin'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set origin {{ rule['set']['origin'] }}

{%-                     endif %}
{%-                     if ( rule['set']['community'] is defined ) %}
{%-                         if version == '1.4' %}
{%-                             set communities = rule['set']['community'].split(" ") %}
{%-                             if communities[-1] == 'additive' %}
{%-                                 do communities.pop() %}
{%-                                 for community in communities %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set community add '{{ community }}'

{%-                                 endfor %}
{%-                             endif %}
{%-                         else %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set community '{{ rule['set']['community'] }}'

{%-                         endif %}
{%-                     endif %}
{%-                     if ( rule['set']['large_community'] is defined ) %}
{%-                         if version == '1.4' %}
{%-                             set communities = rule['set']['large_community'].split(" ") %}
{%-                             if communities[-1] == 'additive' %}
{%-                                 do communities.pop() %}
{%-                                 for community in communities %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set large-community add '{{ community }}'

{%-                                 endfor %}
{%-                             endif %}
{%-                         else %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set large-community '{{ rule['set']['large_community'] }}'

{%-                         endif %}
{%-                     endif %}
{%-                     if ( rule['set']['as_path_exclude'] is defined ) %}
{%-                         if version == '1.4' %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set as-path exclude '{{ rule['set']['as_path_exclude'] }}'

{%-                         else %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set as-path-exclude '{{ rule['set']['as_path_exclude'] }}'

{%-                         endif %}
{%-                     endif %}
{%-                     if ( rule['set']['next_hop'] is defined ) %}

set policy route-map {{ route_map }} rule {{ rule['number'] }} set {{ vyos_family }}-next-hop {{ global }} {{ rule['set']['next_hop'] }}

{%-                     endif %}
{%-                 endif %}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- endif %}

comment policy 'The following policy nodes are SALT MANAGED: as-path-list, community-list, prefix-list, prefix-list6, route-map'
