
{%- for interface, iface_data in data['out'].items() %}
{%-     set vyos_type = iface_data['vyos_type'] %}

{%-     if vyos_type in ['bonding', 'ethernet'] %}
delete interfaces {{ vyos_type }} {{ interface }}
{%-     else %}
delete interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }}
{%-     endif %}

{%-     if vyos_type == 'ethernet' %}
{%-         if iface_data['offload'] is defined %}
{%-             if iface_data['offload'] %}

set interfaces ethernet {{ interface }} offload gro
set interfaces ethernet {{ interface }} offload gso
set interfaces ethernet {{ interface }} offload sg
set interfaces ethernet {{ interface }} offload tso

{%-             endif %}
{%-         endif %}
{%-         if iface_data['mac_address'] is defined %}

set interfaces ethernet {{ interface }} hw-id {{ iface_data['mac_address'] }}

{%-         endif %}
{%-     endif %}

{%-     if iface_data['type'] == 'lacp' %}

set interfaces bonding {{ interface }} mode 802.3ad
set interfaces bonding {{ interface }} lacp-rate {{ iface_data['lacp']['rate'] }}
set interfaces bonding {{ interface }} hash-policy {{ iface_data['lacp']['hash_policy'] }}
set interfaces bonding {{ interface }} min-links {{ iface_data['lacp']['min_links'] }}

{%-         for member in iface_data['lacp']['members'] %}

set interfaces bonding {{ interface }} member interface {{ member }}

{%-         endfor %}

{%-     endif %}

{%-     if iface_data['description'] is defined %}

{%-         if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} description '{{ iface_data['description'] }}'
{%-         else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} description '{{ iface_data['description'] }}'
{%-         endif %}

{%-     endif %}

{%-     if iface_data['mtu'] is defined %}

{%-         if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} mtu {{ iface_data['mtu'] }}
{%-         else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} mtu {{ iface_data['mtu'] }}
{%-         endif %}

{%-     endif %}

{%-     if iface_data['address'] is defined %}
{%-         for addr, addr_data in iface_data['address'].items() %}

{%-             if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} address {{ addr }}
{%-             else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} address {{ addr }}
{%-             endif %}

{%-         endfor %}
{%-     endif %}

{%-     if iface_data['policy'] is defined %}
{%-         for family, policy in iface_data['policy'].items() %}
{%-             set header = '' %}
{%-             if family == 'ipv6' %}
{%-                 set header = 'ipv6-' %}
{%-             endif %}

{%-             if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} policy {{ header }}route {{ policy }}
{%-             else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} policy {{ header }}route {{ policy }}
{%-             endif %}

{%-         endfor %}
{%-     endif %}


{# 
    Stateless firewall (ACL) configuration
#}
{%-    if ( iface_data['firewall'] is defined ) %}
{#  
       Rules for control plane connections  
#}
{%-         if iface_data['firewall']['local'] is defined %}
{%-             for family, policy in iface_data['firewall']['local'].items() %}
{%-                 set header = '' %}
{%-                 if family == 'ipv6' %}
{%-                     set header = 'ipv6-' %}
{%-                 endif %}

{%-                 if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} firewall local {{ header }}name {{ policy }}
{%-                 else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} firewall local {{ header }}name {{ policy }}
{%-                 endif %}
{%-             endfor %}

{%-         endif %}
{#    
       Rules for ingress forwarding  
#}
{%-         if iface_data['firewall']['ingress'] is defined %}
{%-             for family, policy in iface_data['firewall']['ingress'].items() %}
{%-                 set header = '' %}
{%-                 if family == 'ipv6' %}
{%-                     set header = 'ipv6-' %}
{%-                 endif %}

{%-                 if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} firewall in {{ header }}name {{ policy }}
{%-                 else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} firewall in {{ header }}name {{ policy }}
{%-                 endif %}
{%-             endfor %}

{%-         endif %}
{#  
       Rules for egress forwarding  
#}
{%-         if iface_data['firewall']['egress'] is defined %}
{%-             for family, policy in iface_data['firewall']['egress'].items() %}
{%-                 set header = '' %}
{%-                 if family == 'ipv6' %}
{%-                     set header = 'ipv6-' %}
{%-                 endif %}

{%-                 if vyos_type in ['bonding', 'ethernet'] %}
set interfaces {{ vyos_type }} {{ interface }} firewall out {{ header }}name {{ policy }}
{%-                 else %}
set interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} firewall out {{ header }}name {{ policy }}
{%-                 endif %}
{%-             endfor %}

{%-         endif %}


{%-     endif %}

{%-     if vyos_type in ['bonding', 'ethernet'] %}
comment interfaces {{ vyos_type }} {{ interface }} '{{ interface }} is managed by salt.'
{%-     else %}
comment interfaces {{ iface_data['vlan']['parent_vyos_type'] }} {{ iface_data['vlan']['parent'] }} vif {{ iface_data['vlan']['id'] }} '{{ interface }} is managed by salt.'
{%-     endif %}

{%- endfor %}

comment interfaces 'The following interface nodes are fully SALT MANAGED: bond, tunnel, dummy'
