
delete interfaces tunnel

{%- for tunnel, tunnel_data in data['out'].items() %}

{%-     if tunnel_data['address'] is defined %}
{%-         for addr, addr_data in tunnel_data['address'].items() %}

set interfaces tunnel {{ tunnel }} address {{ addr }}

{%-         endfor %}
{%-     endif %}

{%-     if ( tunnel_data['disabled'] ) %}

set interfaces tunnel {{ tunnel }} disable

{%-     endif %}
{%-     if ( tunnel_data['description'] is defined ) %}

set interfaces tunnel {{ tunnel }} description "{{ tunnel_data['description'] }}"

{%-     endif %}
{%-     if tunnel_data['type'] == 'l2gre' %}

set interfaces tunnel {{ tunnel }} encapsulation gretap

{%-     else %}

set interfaces tunnel {{ tunnel }} encapsulation {{ tunnel_data['type'] }}

{%-     endif %}
{%-     if ( tunnel_data['mtu'] is defined ) %}

set interfaces tunnel {{ tunnel }} mtu {{ tunnel_data['mtu'] }}

{%-     else %}
{%-         if tunnel_data['type'] == 'l2gre' %}

set interfaces tunnel {{ tunnel }} mtu 1458

{%-         endif %}

set interfaces tunnel {{ tunnel }} mtu 1476

{%-     endif %}
{%-     if ( tunnel_data['key_vyos'] is defined ) %}

set interfaces tunnel {{ tunnel }} parameters ip key {{ tunnel_data['key_vyos'] }}

{%-     endif %}
{%-     if ( tunnel_data['ttl'] is defined ) %}

set interfaces tunnel {{ tunnel }} parameters ip ttl {{ tunnel_data['ttl'] }}

{%-     endif %}

set interfaces tunnel {{ tunnel }} remote {{ tunnel_data['remote'] }}

{%-     if ( tunnel_data['source'] is defined ) %}

set interfaces tunnel {{ tunnel }} source-address {{ tunnel_data['source'] }}

{%-     endif %}
{%-     if ( tunnel_data['interface'] is defined ) %}

set interfaces tunnel {{ tunnel }} source-interface {{ tunnel_data['interface'] }}

{%-     endif %}
{# 
    Stateless firewall (ACL) configuration
#}
{%-     if ( tunnel_data['firewall'] is defined ) %}
{#  
       Rules for control plane connections  
#}
{%-         if ( tunnel_data['firewall']['local'] is defined ) %}
{%-             if ( tunnel_data['firewall']['local']['ipv4'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall local name {{ tunnel_data['firewall']['local']['ipv4'] }}

{%-             endif %}
{%-             if ( tunnel_data['firewall']['local']['ipv6'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall local ipv6-name {{ tunnel_data['firewall']['local']['ipv6'] }}

{%-             endif %}
{%-         endif %}
{#    
       Rules for ingress forwarding  
#}
{%-         if ( tunnel_data['firewall']['ingress'] is defined ) %}
{%-             if ( tunnel_data['firewall']['ingress']['ipv4'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall in name {{ tunnel_data['firewall']['ingress']['ipv4'] }}

{%-             endif %}
{%-             if ( tunnel_data['firewall']['ingress']['ipv6'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall in ipv6-name {{ tunnel_data['firewall']['ingress']['ipv6'] }}

{%-             endif %}
{%-         endif %}
{#  
       Rules for egress forwarding  
#}
{%-         if ( tunnel_data['firewall']['egress'] is defined ) %}
{%-             if ( tunnel_data['firewall']['egress']['ipv4'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall out name {{ tunnel_data['firewall']['egress']['ipv4'] }}

{%-             endif %}
{%-             if ( tunnel_data['firewall']['egress']['ipv6'] is defined ) %}

set interfaces tunnel {{ tunnel }} firewall out ipv6-name {{ tunnel_data['firewall']['egress']['ipv6'] }}

{%-             endif %}
{%-         endif %}
{%-     endif %}

comment interfaces tunnel {{ tunnel }} '{{ tunnel }} is managed by salt.'

{%- endfor %}

comment interfaces 'The following interface nodes are fully SALT MANAGED: bond, tunnel, dummy'
